<header class="navbar navbar-expand flex-column">
    <div class="navbar-nav bd-navbar-nav flex-row">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" ui-sref="artist.add()">Adicionar Artista</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" ui-sref="artist.search()">Pesquisar Artista</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" ui-sref="music.add()">Adicionar Música</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" ui-sref="playlist.add()">Adicionar Playlist</a>
            </li>
        </ul>
    </div>    
</header>