<div class="container">
    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label"> Nome: </label>
        <input type="text" readonly class="form-control col-sm-10" id="name" name="name"
               ng-value="vm.artist.name"/>
    </div>
    <div class="form-group row">
        <label for="image" class="col-sm-2 col-form-label"> Imagem: </label>
        <input type="text" readonly class="form-control col-sm-10" id="image" name="image"
               ng-value="vm.artist.image"/>
    </div>
    <div class="form-group row">
        <label for="rating" class="col-sm-2 col-form-label"> Rating: </label>
        <input type="text" class="form-control col-sm-10" id="rating" name="rating"
               ng-model="vm.artist.rating"/>
    </div>
    <div class="form-group row">
        <label for="lastListened" class="col-sm-2 col-form-label"> Última música ouvida: </label>
        <select id="lastListened" class="form-control col-sm-10" name="artist" ng-model="vm.artist.lastListened"
                ng-options="music.name as music.name for music in vm.musics | orderBy:'+name'" required>
            <option value="">Selecione a última música ouvida</option>
        </select>
    </div>

    <button class="btn btn-primary btn-block float-right col-sm-3" ng-click="vm.updateArtist(vm.artist)">Salvar</button>

    <table class="table table-striped">
        <thead>
        <th>
            Álbuns
        </th>
        </thead>
        <tbody ng-repeat="album in vm.albuns">
        <td>{{album.name}}</td>
        </tbody>
    </table>
</div>
