<section class="container">
    <div class="row">
        <input class="form-control" placeholder="Pesquisar Artista" type="text" name="name" id="name"
            ng-model="vm.searchCriteria"/>
    </div>

    <table class="table table-striped">
        <thead>
        <th>Nome</th>
        <th>Imagem</th>
        <th>Favorito</th>
        </thead>
        <tbody>
        <tr ng-repeat="userArtist in vm.userArtists | filter:{artist: {name : vm.searchCriteria}}">
            <td><a ui-sref="artist.show({name: userArtist.artist.name})">{{userArtist.artist.name}}</a></td>
            <td>
                <a href="{{userArtist.artist.imageUrl}}" target="_blank" ng-if="userArtist.artist.imageUrl">link</a>
                <span ng-if="!userArtist.artist.imageUrl">-</span>
            </td>
            <td>
                <input type="checkbox"
                    ng-model="userArtist.favorite"
                    ng-change="vm.confirmUpdate(userArtist)"/>
            </td>
        </tr>
        </tbody>
    </table>
</section>