<form name="vm.musicForm" class="container">

    <div class="form-group row">
        <input class="form-control" placeholder="Nome" type="text" name="name" id="name"
               ng-model="vm.music.name"
               required/>
    </div>
    <div class="form-group row">
        <select class="form-control" name="artist" ng-model="vm.music.artist"
                ng-options="artist.name for artist in vm.artists | orderBy:'+name'" required>
            <option value="">Selecione um artista</option>
        </select>
    </div>

    <div class="form-group row">
        <input class="form-control" placeholder="Álbum" type="text" name="album" id="album"
               ng-model="vm.albumName"
               required/>
    </div>

    <div class="form-group row">
        <input class="form-control" placeholder="Ano de lançamento" name="releaseYear" id="releaseYear"
            ng-model="vm.music.releaseYear" ui-mask="9999" ui-mask-placeholder ui-mask-placeholder-char="A" required/>
    </div>

    <div class="form-group row">
        <input class="form-control" placeholder="Duração" type="text" name="duration" id="duration"
            ng-model="vm.music.duration" ui-mask="(99):(99) min" ui-mask-placeholder ui-mask-placeholder-char="_"
            required/>
    </div>

    <section ng-messages="vm.musicForm.name.$error"
             ng-show="vm.musicForm.name.$dirty">
        <div ng-message="required" class="alert alert-danger validation-message">
            O nome não pode ser vazio
        </div>

        <div ng-message="musicAvailable" class="alert alert-danger validation-message">
            Música já cadastrada neste álbum
        </div>
    </section>

    <section ng-messages="vm.musicForm.artist.$error"
             ng-show="vm.musicForm.artist.$dirty">
        <div ng-message="required" class="alert alert-danger validation-message">
            O artista não pode ser vazio
        </div>
    </section>

    <section ng-messages="vm.musicForm.album.$error"
             ng-show="vm.musicForm.album.$dirty">
        <div ng-message="required" class="alert alert-danger validation-message">
            O álbum não pode ser vazio
        </div>

        <div ng-message="musicAvailable" class="alert alert-danger validation-message">
            Música já cadastrada neste álbum
        </div>
    </section>

    <section ng-messages="vm.musicForm.releaseYear.$error"
             ng-show="vm.musicForm.releaseYear.$dirty">
        <div ng-message="required" class="alert alert-danger validation-message">
            O ano de lançamento não pode ser vazio
        </div>
    </section>

    <section ng-messages="vm.musicForm.duration.$error"
             ng-show="vm.musicForm.duration.$dirty">
        <div ng-message="required" class="alert alert-danger validation-message">
            A duração não pode ser vazia
        </div>
    </section>

    <div ng-include="'app/components/response-error.html'"></div>

    <section class="row">
        <button class="btn btn-primary btn-block" ng-disabled="vm.musicForm.$invalid" id="btn.add.artist"
                ng-click="vm.addMusic(vm.music, vm.albumName)">Adicionar Música
        </button>
    </section>
</form>