<form name="vm.loginForm">
    <div class="form-group row">
        <input class="form-control" placeholder="Email" type="email" name="username" id="username"
               ng-model="vm.credentials.username"
               required/>
    </div>
    <div class="form-group row">
        <input class="form-control" placeholder="Senha" type="password" name="password" id="password"
               ng-model="vm.credentials.password"
               required/>
    </div>

    <section ng-messages="vm.loginForm.username.$error"
             ng-show="vm.loginForm.username.$dirty">
        <div ng-message="required" class="alert alert-danger validation-message">
            O Email não pode ser vazio
        </div>

        <div ng-message="username" class="alert alert-danger validation-message">
            Email no formato inválido
        </div>
    </section>

    <div ng-include="'app/components/response-error.html'"></div>

    <section ng-messages="vm.loginForm.password.$error"
             ng-show="vm.loginForm.password.$dirty">
        <div ng-message="required" class="alert alert-danger validation-message">
            A senha não pode ser vazia
        </div>
    </section>

    <section class="row">
        <button class="btn btn-primary btn-block" ng-disabled="vm.loginForm.$invalid" id="btn.add.artist"
                ng-click="vm.login(vm.credentials)">Login
        </button>
    </section>

</form>