<form name="vm.musicForm">
    <input class="form-control" placeholder="Nome" type="text" name="name" id="name"
           ng-model="vm.music.name" ui-validate="{musicAvailable : 'vm.isMusicAvailable($value, vm.music.album)'}"
           required/>
    <input class="form-control" placeholder="Artista" type="text" name="artist" id="artist"
           ng-model="vm.music.artist" required/>
    <input class="form-control" placeholder="Álbum" type="text" name="album" id="album"
           ng-model="vm.music.album" ui-validate="{musicAvailable : 'vm.isMusicAvailable(vm.music.name, $value)'}"
           required/>
    <input class="form-control" placeholder="Ano de lançamento" type="year" name="releaseYear" id="releaseYear"
           ng-model="vm.music.releaseYear" ui-mask="9999" ui-mask-placeholder ui-mask-placeholder-char="A" required/>
    <input class="form-control" placeholder="Duration" type="text" name="duration" id="duration"
           ng-model="vm.music.duration" ui-mask="(99):(99) min" ui-mask-placeholder ui-mask-placeholder-char="_"
           required/>

    <section class="validation-box" ng-messages="vm.musicForm.name.$error"
             ng-show="vm.musicForm.name.$dirty">
        <div ng-message="required" class="alert alert-danger validation-message">
            O nome não pode ser vazio
        </div>

        <div ng-message="musicAvailable" class="alert alert-danger validation-message">
            Música já cadastrada neste álbum
        </div>
    </section>

    <section class="validation-box" ng-messages="vm.musicForm.artist.$error"
             ng-show="vm.musicForm.artist.$dirty">
        <div ng-message="required" class="alert alert-danger validation-message">
            O artista não pode ser vazio
        </div>
    </section>

    <section class="validation-box" ng-messages="vm.musicForm.album.$error"
             ng-show="vm.musicForm.album.$dirty">
        <div ng-message="required" class="alert alert-danger validation-message">
            O álbum não pode ser vazio
        </div>

        <div ng-message="musicAvailable" class="alert alert-danger validation-message">
            Música já cadastrada neste álbum
        </div>
    </section>

    <section class="validation-box" ng-messages="vm.musicForm.releaseYear.$error"
             ng-show="vm.musicForm.releaseYear.$dirty">
        <div ng-message="required" class="alert alert-danger validation-message">
            O ano de lançamento não pode ser vazio
        </div>
    </section>

    <section class="validation-box" ng-messages="vm.musicForm.duration.$error"
             ng-show="vm.musicForm.duration.$dirty">
        <div ng-message="required" class="alert alert-danger validation-message">
            A duração não pode ser vazia
        </div>
    </section>

    <button class="btn btn-primary btn-block" ng-disabled="vm.musicForm.$invalid" id="btn.add.artist"
            ng-click="vm.addMusic(vm.music)">Adicionar Música
    </button>
</form>

<table class="table table-striped">
    <thead>
    <th>Nome</th>
    <th>Artista</th>
    <th>Álbum</th>
    <th>Ano de lançamento</th>
    <th>Duração</th>
    </thead>
    <tbody ng-repeat="music in vm.musics">
    <td>{{music.name}}</td>
    <td>{{music.artist}}</td>
    <td>{{music.album}}</td>
    <td>{{music.releaseYear}}</td>
    <td>{{music.duration}}</td>
    </tbody>
</table>